template(name="explanation")
  .container-fluid
    .row.nav-row
      .col-md-9.end-title-block
        h1.end-title.first-title Le Compos'TER, pourquoi faire ?
      .col-md-3.text-right
        img.logo-end(src="/logo-blanc.svg")

    .row.content-row
      .col-md-6.end-title-block
        h2.game-rules-title.text-center Gagnez un voyage dans l'Ouest lyonnais
        ul.game-rules
          li Pensez à la ville de l'Ouest lyonnais que vous souhaitez visiter
          li Jetez vos déchets au moment où son nom apparaît
          li Si vous êtes chanceux, gagnez un voyage pour cette destination !

        //- p.text-center.interest-intro Lorsque les destinations de l'Ouest lyonnais défileront, essayez de jeter vos déchets au moment où la ville que vous souhaitez visiter apparaît pour gagner un bon voyage !

        //-   | Jetez vos déchets au bon moment, et gagnez un aller/retour vers la destination de votre choix.
      .col-md-6.end-title-block
        img.tree-img(src="/nourrir-arbre.gif")
        .row
          .col-md-10.text-right
            p.tree-watch
              | Regardez l'arbre grandir
              br
              | au fur et à mesure que vous le nourrissez
          .col-md-2
            span.glyphicon.glyphicon-chevron-right.tree-watch-icon
    .row
      .col-md-12.text-center
        btn.btn-garemix.btn-lg
          | Pressez le bouton "Jouer"
        br
    .row
      .col-md-12.text-center
        span.glyphicon.glyphicon-triangle-bottom
        //- img.end-img(src="/diagramme-composte.jpg")