template(name="home")
  .carousel.slide(data-ride='carousel')
    .carousel-inner(role='listbox')
      .item.active
        img(src="/s-civrieux.jpg")
      .item
        img(src="/s-arbresle.jpg")
      .item
        img(src="/s-brignais.jpg")
      .item
        img(src="/s-casino-lacroix-laval.jpg")
      .item
        img(src="/s-chaponost.jpg")
      .item
        img(src="/s-charbonniere.jpg")




